/**
 * Basic styling for directories
 * This file is part of the Nested Directory plugin for WordPress
 */
.nesteddir_column_clear {
    clear: both;
}
.nesteddir_column {
    padding-left: 0.3%;
}
.nesteddir_startswith {
    padding: 0 2px;
}
.nesteddir_column.nesteddir_nr2 {
    width: 49%;
    float: left;
    display: inline-block;
}
.nesteddir_column.nesteddir_nr3 {
    width: 33%;
    float: left;
    display: inline-block;
}
.nesteddir_column.nesteddir_nr4 {
    width: 24%;
    float: left;
    display: inline-block;
}
.nesteddir_form_result {
    padding: 10px;
    width: 100%;
    border: 1px solid #D8D8D8;
    text-align: center;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    display: none;
}

.nesteddir_form_result.form-result-success {
    background-color: rgb(236, 255, 216);
    display: block;
    color: green;
}

.nesteddir_form_result.form-result-error {
    background-color: rgb(255, 249, 242);
    display: block;
    color: rgb(211, 0, 0);
}

.nesteddir_character_header {
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}


/**
 * Read-more buttons without Javascript
 * Credits: https://codepen.io/Idered/pen/AeBgF
 */
.nesteddir_readmore_state {
    display: none;
}

.nesteddir_readmore_target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.nesteddir_readmore_state:checked ~ .nesteddir_readmore_wrap .nesteddir_readmore_target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.nesteddir_readmore_state ~ .nesteddir_readmore_trigger:before {
    content: 'Show more';
}

.nesteddir_readmore_state:checked ~ .nesteddir_readmore_trigger:before {
    content: 'Show less';
}

.nesteddir_readmore_trigger {
    cursor: pointer;
    display: inline-block;
    color: #666;
    font-size: .9em;
    font-weight: normal;
    font-style: italic;
}
